/* You can go through the css  in three  different parts they are
    1. general.css
    2.  header.css
    3. video.css*/

/* general */
body {
  /* background-color: #181818;
      color:white ; */
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

/* header */
.header {
  border-bottom-style: solid;
  border-bottom-color: rgb(187, 177, 177);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  position: fixed;
  background-color: white;
  width: 100%;
  z-index: 10;
  /* margin-right: 200px; */
}
.left_section {
  display: flex;
  align-items: center;
}
.hamburger_menu {
  margin-left: 20px;
  margin-right: 8px;
  width: 25px;
  border-radius: 16px;
  cursor: pointer;
}
.youtube_logo {
  margin-left: 10px;
  height: 95px;
}
.middle_section {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
  margin-left: 75px;
  min-width: 5px;
  max-width: 700px;
  margin-right: 75px;
  padding: 1px;
}
input {
  padding-left: 0.3em;
}
.Search_box {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
  min-width: 0px;
  max-width: 650px;
  height: 30px;
  margin-right: 0px;
  border: solid rgb(226, 224, 224);
  border-width: 1px;
  border-radius: 3px;
}
.search_logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgb(255, 255, 255);
  width: 20px;
  padding: 6px;
  border-radius: 4px;
  margin: -4px;
  margin-right: 20px;
  border: solid rgb(226, 224, 224);
  border-width: 1px;
  cursor: pointer;
}
.voice_search_icon {
  width: 15px;
  border-radius: 11px;
  cursor: pointer;
}
.right_section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.create_option {
  width: 30px;
  margin-right: 10px;
  cursor: pointer;
}
.bell_icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 7px;
  margin-top: 10px;
  width: 30px;
  cursor: pointer;
}
.ball_icon_container {
  /* padding-top: 2px; */
  position: relative;
}
.notification_numbers {
  position: absolute;
  background-color: red;
  top: 5px;
  right: 2px;
  color: white;
  height: 16px;
  width: 16px;
  font-size: 12px;
  text-align: center;
  padding: 2px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user_img {
  margin: 4px;
  width: 34px;
  border-radius: 25px;
  margin-top: 8px;
  margin-left: 15px;
  margin-right: 20px;
  cursor: pointer;
}
.sidebar {
  display: flex;
  padding-top: 30px;
  flex-direction: column;
  text-align: center;
  flex: 1px;
  width: 130px;
  background-color: #eee;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

.sidebar_icon .material-symbols-outlined {
  font-size: 30px;
}

.sidebar_icon {
  padding: 1rem;
  font-size: 15px;
  cursor: pointer;
  border-radius: 200px;
}
/* video.css */
.video_grid {
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 40px;
}
.container {
  display: flex;
  padding-top: 60px;
  position: relative;
}

@media (max-width: 650px) {
  .video_grid {
    grid-template-columns: 1fr;
  }

  /* Sidebar on bottom on small screen */
  .sidebar {
    /* display: none; */
    padding-top: 0;
    position: fixed;
    width: 100vw;
    bottom: 0;
    justify-content: space-around;
    z-index: 10;
    display: flex;
    flex-direction: row;
  }
}
@media (min-width: 651px) and (max-width: 900px) {
  .video_grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 901px) and (max-width: 1200px) {
  .video_grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 1201px) and (max-width: 2000px) {
  .video_grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
.video_img {
  width: 100%;
}
.video_img_time {
  position: relative;
}
.video_time {
  position: absolute;
  background-color: black;
  color: white;
  right: 6px;
  bottom: 9px;
  font-size: 14px;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 3px;
}
.about-grid {
  display: grid;
  grid-template-columns: 65px 1fr;
}
.channel_img {
  margin-left: 5px;
  margin-top: 15px;
  border-radius: 50px;
  width: 50px;
}
.video_title {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}
.youtuber_channel,
.video_status {
  color: #717171;
}
.youtuber_channel {
  margin-bottom: 0px;
}
.video_status {
  margin-top: 0px;
}
